*{
    box-sizing: border-box;
}
form {
    display: block;
    margin-top: 0em;
    width: 80%;
    margin: 0 auto;
}
.ta-frame__header {
    background: #102e9e;
    color: #fff;
    padding: 12px 16px;
}
.ta-frame__content {
    font-size: 14px;
    padding: 12px 16px;
    background: #1691e2;
    color: #fff;
}
.ta-frame__header-title {
    color: #fff;
    text-transform: uppercase;
}
.ta-frame .el-form-item {
    padding-bottom: 0;
    margin-bottom: 12px;
}
.ta-frame .el-checkbox__label, .ta-frame .el-radio__label {
    color: #fff!important;
    font-size: 14px;
}
.ta-frame .el-form-item__content {
    line-height: 1.5em;
}
.ta-frame__blocker--blocked {
    cursor: not-allowed;
}
.ta-frame__blocker--blocked .ta-frame__blocker-help {
    display: block;
}
.ta-frame__blocker-help {
    display: none;
    cursor: help;
    font-weight: 700;
    margin-bottom: 0.8em;
    line-height: 1.25em;
}
.ta-frame .el-form-item {
    padding-bottom: 0;
    margin-bottom: 12px;
}
.ta-frame .el-textarea textarea {
    font-family: Helvetica Neue,arial,sans-serif;
    font-size: 14px;
}
.ta-frame .el-button.expanded {
    width: 100%;
    display: block;
}
.el-checkbox__label, .el-radio__label {
    font-size: 15px;
    font-weight: 400;
    white-space: normal;
}
.el-radio__label {
    font-size: 14px;
    padding-left: 10px;
}
.el-textarea__inner {
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.ta-frame .el-button.expanded {
    width: 100%;
    display: block;
}
.el-button--primary {
    color: #fff;
    background-color: #1f28af;
    border-color: #1f28af;
}
.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    color: #000;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 6px;
}

