{% extends 'admin/master.html' %}

{% block body %}
<div class="container">
    <div class="row">
        {% for m in medicines %}
        <form action="" method="post">


            <div class="card" style="width:400px">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
               <div class="card-body">
                        <h4 class="card-title">{{ m.name }}</h4>
                        <p class="card-text">{{m.unit}}</p>
                        <input type="hidden" name="code" value="{{m.id}}">
                        <input type="hidden" name="unit" value="{{m.unit}}">
                        <input type="hidden" name="name" value="{{m.name}}">
                        <input type="hidden" name="price" value="{{m.price}}">
                        <input type="text" class="product-quantity" name=quantity value="1" size="2">
                        <input type="submit" value="Thêm" class="default-btn">
                    </div>
            </div>


        </form>

        {% endfor %}
    </div>

</div>
{% endblock %}




