{% extends 'admin/master.html' %}

{% block body %}




<form method="post" action="">
    <table class="table">
    <tr>
        <th>STT</th>
        <th>Họ tên</th>
        <th>Giới tính</th>
        <th>Năm sinh</th>
        <th>Địa chỉ</th>
    </tr>
    {% for c in patients %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.sex }}</td>
        <td>{{ c.dateofbirth }}</td>
        <td>{{ c.address }}</td>

        <td>
            <a href="/admin/phieukham/?patient_medicalist_id={{medi_id}}" class="btn btn-primary"> Lập phiếu khám</a>
        </td>

<!--         <div class="form-outline datepicker">-->
<!--            <input type="date" class="form-control" id="medicalexaminationday" name="medicalexaminationday"/>-->
<!--            <label for="medicalexaminationday" class="form-label">Chọn ngày tạo</label>-->
<!--        </div>-->


    </tr>
    {% endfor %}
</table>
</form>

{% endblock %}
