{% extends 'admin/master.html' %}

{% block body %}
<h1>danh sach thuoc</h1>


 {% for m in medicines %}
        <div class="col-md-3 col-sm-12" style="padding:1rem;">
            <div class="card">
                <img class="card-img-top" src="{{ m.image }}" alt="{{ m.name }}">
                <div class="card-body">
                    <h4 class="card-title">{{ m.name }}</h4>
                    <p class="card-text">{{ "{:,.1f}".format(m.price) }} VNĐ</p>
                    <a href="" class="btn btn-primary">Xem chi tiết</a>
                    <a href="" onclick="" class="btn btn-danger">Thêm</a>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}