{% extends 'admin/master.html' %}

{% block body %}


<form method="post" action="" >


    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" required id="trieuchung" placeholder="Triệu chứng" name="trieuchung">
        <label for="trieuchung">Triệu chứng</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" required id="dudoanbenh" placeholder="Dự đoán bệnh" name="dudoanbenh">
        <label for="dudoanbenh">Dự đoán bệnh</label>
    </div>


    <h1>Phiếu khám</h1>
    {% if 'medical_report' in session and session['medical_report'] %}


    <table class="table">
        <tr>
            <th>STT</th>
            <th>Thuốc</th>
            <th>Đơn vị</th>
            <th>Số lượng</th>
            <th>Gía bán</th>
            <th>Cách dùng</th>
            <th></th>
        </tr>
        {%for c in session['medical_report'].values()%}

        <tr id="medical_report{{ c.id }}">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.unit}}</td>
            <td>{{c.quantity}}</td>
             <td>{{c.price}}</td>
            <td><input type="text" name = use></td>
        </tr>
        {%endfor%}
        {% else%}
        {%endif%}

    </table>

    <div>
        <input type="submit" value="Hoàn tất" class="btn btn-danger">
    </div>

</form>










{% endblock %}


