{% extends 'layout/base.html' %}
{% block content %}


<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
                <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Thông tin đăng ký</h3>

                    <form class="px-md-2">

                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example1q" class="form-control" placeholder="Nhập họ và tên"/>
                            <label class="form-label" for="form3Example1q"></label>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">

                                <div class="form-outline datepicker">
                                    <input type="date" class="form-control" id="dateofbirth"/>
                                    <label for="dateofbirth" class="form-label">Ngày sinh</label>
                                </div>

                            </div>
                            <div class="col-md-6 mb-4">

                                <select class="select">
                                    <option value="1" disabled>Giới tính</option>
                                    <option value="2">Nam</option>
                                    <option value="3">Nữ</option>
                                    <option value="4">Khác</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-md-6 mb-4">

                            <div class="form-outline datepicker">
                                <input type="date" class="form-control" id="medicaday"/>
                                <label for="medicaday" class="form-label">Chọn ngày khám</label>
                            </div>

                        </div>


                        <div class="form-outline mb-4">
                            <input type="text" id="phonenumber" class="form-control"
                                   placeholder="Nhập số điện thoại"/>
                            <label class="form-label" for="phonenumber"></label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="identitycard" class="form-control"
                                   placeholder="Nhập chứng minh nhân dân"/>
                            <label class="form-label" for="identitycard"></label>
                        </div>

                        <div class="form-outline mb-4">
                            <hr>
                            <p>Chúng tôi sẽ liên lạc với bạn, bạn vui lòng giữ máy để xác nhận lịch hẹn!!</p>
                            <hr>
                        </div>

                        <button type="submit" class="btn btn-success btn-lg mb-1">Đăng ký</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}