{% extends 'layout/base.html' %}
{% block content %}


<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
                <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Thông tin đăng ký</h3>


                    {% if current_user.is_authenticated %}
                    {% if mes %}
                    <div class="alert alert-danger">
                        {{mes}}
                    </div>
                    {% endif %}
                    <form method="post" action="/dklk" class="px-md-2">

                        <div class="form-outline mb-4">
                            <input type="text" id="name" class="form-control" placeholder="Nhập họ và tên" name="name"/>
                            <label class="form-label" for="name"></label>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4">

                                <div class="form-outline datepicker">
                                    <input type="date" class="form-control" id="dateofbirth" name="dateofbirth"/>
                                    <label for="dateofbirth" class="form-label">Ngày sinh</label>
                                </div>

                            </div>
                            <div class="col-md-6 mb-4">

                                <select class="select" id=sex name="sex">
                                    <option value="1" disabled>Giới tính</option>
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                    <option value="Khác">Khác</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-md-6 mb-4">

                            <div class="form-outline datepicker">
                                <input type="date" class="form-control" id="medicaday" name="medicaday"/>
                                <label for="medicaday" class="form-label">Chọn ngày khám</label>
                            </div>

                        </div>


                        <div class="form-outline mb-4">
                            <input type="text" id="phonenumber" class="form-control"
                                   placeholder="Nhập số điện thoại" name="phonenumber"/>
                            <label class="form-label" for="phonenumber"></label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="text" id="identitycard" class="form-control"
                                   placeholder="Nhập chứng minh nhân dân" name="identitycard"/>
                            <label class="form-label" for="identitycard"></label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="text" id="address" class="form-control"
                                   placeholder="Nhập địa chỉ" name="address"/>
                            <label class="form-label" for="address"></label>
                        </div>

                        <div class="form-outline mb-4">
                            <hr>
                            <p>Chúng tôi sẽ liên lạc với bạn, bạn vui lòng giữ máy để xác nhận lịch hẹn!!</p>
                            <hr>
                        </div>


                        <button type="submit" class="btn btn-success btn-lg mb-1">Đăng ký</button>

                    </form>

                    {% else %}
                    <p>Vui lòng <a href="/login?next=/dklk">đăng nhập</a> để đăng ký!</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}