{% extends 'layout/base.html' %}

{% block content %}
 <div class="col-xs-12  col-sm-12 item_post  mb_15 ">
        <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 mb_15">
        <a class="thumb_cgia" href="#">
        <img alt="PGS.TS.BS PHẠM NGUYỄN VINH" class="img-responsive " loading="lazy" src="{{ url_for('static',filename='img/1.webp')}}" width="200px">
        </a>
        </div>
        <div class="col-xs-6 col-sm-8 col-md-9 ">
        <div class="info_chuyengia">
        <a title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">
        <h2 class="mt_0 mb_10 sz_18 cl_33">PGS.TS.BS PHẠM NGUYỄN VINH</h2>
        </a>
        <div class="font_helI s">
        Giám đốc Trung tâm Tim mạch<div class="sss"></div><div>Bệnh viện Đa khoa Tâm Anh TP.HCM</div> </div>
        <div class="mt_10 hidden-xs">PGS.TS.BS Phạm Nguyễn Vinh là một trong những chuyên gia đầu ngành trong lĩnh vực Nội tim mạch tại Việt Nam. Sau khi tốt nghiệp Bác sĩ Y khoa chuyên khoa Tim mạch trường Đại học Y khoa Sài Gòn, bác sĩ Phạm Nguyễn Vinh sang Pháp tu nghiệp trong hai...</div>
        <div class="text-right mt_10 hidden-xs">
        <a class="cl_white bg_brand btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Đặt lịch hẹn</a>
        <a class="cl_white bg_head btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Xem chi tiết</a>
        </div>
        <div class="clear"></div>
        </div>
        </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg mb_15mb">
        <div class="text-right mt_10 ">
        <a class="cl_white bg_brand btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Đặt lịch hẹn</a>
        <a class="cl_white bg_head btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Xem chi tiết</a>
        </div>
        </div>
        </div>
        </div>
1
     <div class="col-xs-12  col-sm-12 item_post  mb_15 ">
        <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 mb_15">
        <a class="thumb_cgia" href="#">
        <img alt="TTƯT.PGS.TS.BS Vũ Lê Chuyên" class="img-responsive " loading="lazy" src="{{ url_for('static',filename='img/2.webp')}}" width="200px">
        </a>
        </div>
        <div class="col-xs-6 col-sm-8 col-md-9 ">
        <div class="info_chuyengia">
        <a title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">
        <h2 class="mt_0 mb_10 sz_18 cl_33">TTƯT.PGS.TS.BS MAI HẰNG</h2>
        </a>
        <div class="font_helI s">
        Giám đốc Trung tâm Tim mạch<div class="sss"></div><div>Bệnh viện Đa khoa Tâm Anh TP.HCM</div> </div>
        <div class="mt_10 hidden-xs">TTƯT.PGS.TS.BS Vũ Lê Chuyên là một trong những người đặt nền móng đầu
            tiên cho ngành phẫu thuật nội soi tiết niệu tại Việt Nam. Với hơn 40 năm cống hiến cho
            ngành Tiết niệu - Thận học, Phó giáo sư Vũ Lê Chuyên đã đạt được nhiều thành tích và danh...</div>
        <div class="text-right mt_10 hidden-xs">
        <a class="cl_white bg_brand btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Đặt lịch hẹn</a>
        <a class="cl_white bg_head btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Xem chi tiết</a>
        </div>
        <div class="clear"></div>
        </div>
        </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg mb_15mb">
        <div class="text-right mt_10 ">
        <a class="cl_white bg_brand btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Đặt lịch hẹn</a>
        <a class="cl_white bg_head btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Xem chi tiết</a>
        </div>
        </div>
        </div>
        </div>
2
 <div class="col-xs-12  col-sm-12 item_post  mb_15 ">
        <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 mb_15">
        <a class="thumb_cgia" href="#">
        <img alt="PGS.TS.BS NGUYỄN NGỌC HẢI" class="img-responsive " loading="lazy" src="{{ url_for('static',filename='img/3.webp')}}" width="200px">
        </a>
        </div>
        <div class="col-xs-6 col-sm-8 col-md-9 ">
        <div class="info_chuyengia">
        <a title="PGS.TS.BS NGUYỄN NGỌC HẢI" href="#">
        <h2 class="mt_0 mb_10 sz_18 cl_33">PGS.TS.BS HÀ NGUYÊN XUÂN</h2>
        </a>
        <div class="font_helI s">
        Giám đốc Trung tâm Tim mạch<div class="sss"></div><div>Bệnh viện Đa khoa Tâm Anh TP.HCM</div> </div>
        <div class="mt_10 hidden-xs">PGS.TS.BS NGUYỄN NGỌC HẢI là một trong những chuyên gia đầu ngành trong lĩnh vực Nội tim mạch tại Việt Nam. Sau khi tốt nghiệp Bác sĩ Y khoa chuyên khoa Tim mạch trường Đại học Y khoa Sài Gòn, bác sĩ Phạm Nguyễn Vinh sang Pháp tu nghiệp trong hai...</div>
        <div class="text-right mt_10 hidden-xs">
        <a class="cl_white bg_brand btn text-uppercase" title="PGS.TS.BS NGUYỄN NGỌC HẢI" href="#">Đặt lịch hẹn</a>
        <a class="cl_white bg_head btn text-uppercase" title="PGS.TS.BS NGUYỄN NGỌC HẢI" href="#">Xem chi tiết</a>
        </div>
        <div class="clear"></div>
        </div>
        </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg mb_15mb">
        <div class="text-right mt_10 ">
        <a class="cl_white bg_brand btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Đặt lịch hẹn</a>
        <a class="cl_white bg_head btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Xem chi tiết</a>
        </div>
        </div>
        </div>
        </div>
4
 <div class="col-xs-12  col-sm-12 item_post  mb_15 ">
        <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 mb_15">
        <a class="thumb_cgia" href="#">
        <img alt="PGS.TS.BS PHẠM NGUYỄN VINH" class="img-responsive " loading="lazy" src="{{ url_for('static',filename='img/4.jpg')}}" width="200px">
        </a>
        </div>
        <div class="col-xs-6 col-sm-8 col-md-9 ">
        <div class="info_chuyengia">
        <a title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">
        <h2 class="mt_0 mb_10 sz_18 cl_33">PGS.TS.BS lÝ CHÂU MINH</h2>
        </a>
        <div class="font_helI s">
        Giám đốc Trung tâm Tim mạch<div class="sss"></div><div>Bệnh viện Đa khoa Tâm Anh TP.HCM</div> </div>
        <div class="mt_10 hidden-xs">PGS.TS.BS Phạm Nguyễn Vinh là một trong những chuyên gia đầu ngành trong lĩnh vực Nội tim mạch tại Việt Nam. Sau khi tốt nghiệp Bác sĩ Y khoa chuyên khoa Tim mạch trường Đại học Y khoa Sài Gòn, bác sĩ Phạm Nguyễn Vinh sang Pháp tu nghiệp trong hai...</div>
        <div class="text-right mt_10 hidden-xs">
        <a class="cl_white bg_brand btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Đặt lịch hẹn</a>
        <a class="cl_white bg_head btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Xem chi tiết</a>
        </div>
        <div class="clear"></div>
        </div>
        </div>
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg mb_15mb">
        <div class="text-right mt_10 ">
        <a class="cl_white bg_brand btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Đặt lịch hẹn</a>
        <a class="cl_white bg_head btn text-uppercase" title="PGS.TS.BS PHẠM NGUYỄN VINH" href="#">Xem chi tiết</a>
        </div>
        </div>
        </div>
        </div>
{% endblock %}